.content
  .row
    .col-md-12
      - if @courses.present?
        %ul.list-unstyled
          - @courses.each do |course|
            .col-md-3
              .thumbnail
                %li= course.title.humanize
                %li= link_to 'Participants', course_participants_path(course)
                - if user_signed_in? && current_user.try(:banned_in?, course)
                  %p You was dismissed!
                - if user_signed_in? && current_user.participate_in?(course) && !current_user.try(:banned_in?, course)
                  %p You are subscribed

                %br
                = image_tag course.cover.admin_thumb
        = paginate @courses
      - else
        %h2 No courses
